body {
  background: #00c3ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00c3ff, #ffff1c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00c3ff, #ffff1c);
  font-family: 'Ubuntu';
}